{
    "check-coverage": true,
    "lines": 30,
    "statements": 30,
    "functions": 0,
    "branches": 10,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "**/*.spec.ts"
    ],
    "reporter": [
        "lcov",
        "text-lcov",
        "text-summary"
    ],
    "all": true
}